In [31]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [32]:
model=load_model("model.h5")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [33]:
with open("onehot_encoder_geo.pkl",'rb') as f:
    onehot_encoder_geo=pickle.load(f)

In [34]:
with open("label_encoder_gender.pkl",'rb') as f:
    label_encoder_gender=pickle.load(f)

In [35]:
with open("scaler.pkl",'rb') as f:
    scalar=pickle.load(f)

In [36]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [37]:
geo_encoded=onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded

d:\Udemy_ML_and_DL\Project1_ANN\venv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [38]:
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [39]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [40]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [41]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [42]:
input_df=input_df.drop(columns="Geography")

In [43]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,1,40,3,60000,2,1,1,50000

In [44]:
input_df=pd.concat([input_df,geo_encoded_df],axis=1)

In [45]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [46]:
input_scaled=scalar.transform(input_df)

In [47]:
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [48]:
pred=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step

In [49]:
prob=pred[0][0]

In [50]:
prob

np.float32(0.035051204)

In [51]:
if(prob>0.5):
    print("Customer will churn")
else:
    print("Customer will not Churn")

Customer will not Churn